a {
  text-decoration: none !important;
}

.navigation {
  padding: 1% 0 1% 0;
  background-color: rgba(0, 0, 0, .6);
  font-size: 1.5em;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.navigation a:link,
a:visited,
a:active {
  color: rgba(123, 220, 2110, 1);
}

.navigation a:hover {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.navigation .menu a {
  padding: 0 2% 0 2%;
}

.intro {
  background: url(../image/intro.jpg) 50% 0 fixed;
  min-height: 100vh;
  max-height: auto;
}

.hello-world {
  margin: 20% auto auto auto;
  padding-top: 2%;
  font-family: monospace;
  font-size: 30px;
  color: rgba(0, 0, 0, 1);
}

.btn-default {
  margin: 1%;
  font-size: 20px;
  background: rgba(255, 255, 255, .3);
  box-shadow: 4px 3px 2px black;
}

a:link.btn-default,
a:visited.btn-default,
a:active.btn-default {
  color: black;
}

a:hover.btn-default {
  background: black;
  color: white;
  border: 1px solid red;
}

.sectionName {
  background: black;
  height: auto;
  color: white;
  padding: 2%;
  padding-top: 5%;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.sectionName span {
  font-size: 30px;
  font-family: "Courier New", Courier, monospace;
}

.about-me {
  background: url(../image/about.jpg) 50% 0 fixed;
  min-height: 100vh;
  max-height: auto;
}

.myself {
  background: rgba(0, 0, 0, .5);
  font-size: 18px;
  color: white;
  padding: 1%;
  margin-top: 7%;
  border-radius: 4%;
}

.my-image {
  margin-top: 9%;
}

.my-image img {
  box-shadow: 10px 3px 22px black;
  border-radius: 50%;
  width: 400px;
}

.portfolio {
  background: url(../image/portfolio.jpg) 50% 0 fixed;
  background-size: cover;
  min-height: 100vh;
  max-height: auto;
}

.project {
  margin-top: 5%;
  margin-left: 20%;
  margin-bottom: 5%;
  height: 300px;
  width: 300px;
  background: white;
  border-radius: 4%;
}

#one {
  background: url(https://lh3.googleusercontent.com/0_4cGCHTC4GgDTpsab9paZnc4ebYkJDwS2AMNLAiAkI=w470-h249-no);
  background-size: cover;
}

#two {
  background: url(https://lh3.googleusercontent.com/F8q_2cMdDtyf0x3c2JZP8wcrtwHKiO0g-6bcPy8gHVQ=w1917-h982-no);
  background-size: cover;
}

.description {
  margin: 0 0 0 0;
  background: rgba(0, 0, 0, .6);
  margin-top: 40%;
  padding-top: 1%;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 3%;
  border-radius: 5%;
  display: none;
  text-align: center;
}

.portfolio a:link,
a:active,
a:visited {
  color: white;
}

.portfolio a:hover {
  color: white;
  text-decoration: none;
}

.contacts {
  background: url(../image/me.jpg) 50% 0 fixed;
  min-height: 100vh;
  max-height: auto;
  background-size: cover;
}

.information {
  margin-top: 15%;
  margin-right: 4%;
  font-family: times new roman;
  font-size: 20px;
  color: white;
  padding: 2%;
  border-radius: 2%;
  background: rgba(0, 0, 0, .3);
}